{% extends 'base.html' %}
{% set section = 'event' %}
{% block head %}
    <title>Event</title>
{% endblock %}
{% block body %}

{%set sess_count = namespace(value=0) %}
{%set sess_count_2 = namespace(value=0) %}
{%set sess_len = namespace(value=0) %}
{% for event in events %}
    
    {% for sess in events[event]['sessions'] %}
    {%if sess['presented'] %}
        {% set sess_count.value = sess_count.value + 1 %}
    {%endif%}
    
    {%endfor%}
    {% set sess_count_2.value = sess_count_2.value + len(events[event]['sessions']) %}
{%endfor%}
<div id='posts'>
    <h2 class="text-center titles">Events ({{ len(events) }}) | Sessions ({{ sess_count.value }} / {{sess_count_2.value}})</h2>
    {% for event in events %}
    <a href="/event/{{event}}" class="panel post-link">
        <div class="tile tile-centered">
            <div class="tile-icon">
                <div class="example-tile-icon">
                    <i class="icon icon-file centered"></i>
                </div>
            </div>
            <div class="tile-content">
                <div class="tile-title">{{ events[event]['title'] }}</div>
                <small class="tile-subtitle text-gray">

                </small>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
