{% extends "base.html" %}

{% block content %}

<article>
    <h1>past efforts</h1>
    <p>
        someone called Tan Fei started a usergroup for python in mauritius. <br>
        was active around 2013. before we stated this one, we tried to contact the person through mail, twitter, github and linked-in but to no avail, so we went on and created this one
    </p>
    <h1>the need for a python user-group</h1>
    <p>
        better coordinate python activities. <br>
        remote nice but meetups boost things up. if you want high-level expertise, having a dedicated structure is a must. <br>
        general discussions serve it's purpose, so does topic specialisation.
    </p>
    <h1>expected</h1>
    <p>
        hackathons, books, trainings, opportunities
    </p>
</article>

{% endblock %}