<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body class="c">

    <!--header-->
    <header class="c">
        {% include 'header.html' %}
    </header>

    <!--main-->
    <main class="pad_content">
        {% include 'page_info.html' %}

        <br>

        {{events}}
        <p><a href=""></a><br>

        </p>
    </main>


    <!--footer-->
    <footer>
        {% include 'footer.html' %}
    </footer>
    <!--nav-->
    <div>
        {% include 'nav.html' %}
    </div>
{% include 'globe.html' %}
</body>
</html>