
{% extends "base.html" %}

{% block content %}
<article>
    <h1>register as a basic member</h1>
    <p>
        to register as a basic member, open an issue <a href="https://github.com/pymug/pymug/issues">here</a> with your name and username or <br>
        add your name <a href="https://github.com/pymug/pymug/blob/master/docs/data/members_basic/members.txt">here</a> by submitting Pull Request. add in the format name / username / date joined<br>
        a page will be created for you at members/ ..username..
    </p>
</article>
{% endblock %}
        