{% extends "base.html" %}

{% block content %}

<div></div>
        <article class="standard">
            <h2>the need for a standard concerning the evaluation of python knowledge</h2>
            <p>
                how much python do you know? having a checklist enables one to know. also enables companies to assess candidates required and if candidates fit.
            </p>

<div class="std_part">
<h1 class="std_title">core - basics</h1>
{{core_basics}}
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">core - std lib</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">logging, debugging and testing</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">networking</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">concurrency and asynchronous programming</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">gui</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">distribution and packaging</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">virtual environment</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">python coding standards</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">design patterns</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">software engineering principles</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">data structures and algorithms</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">databases</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">mathematical notations</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">mathematical theories and concepts</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">cryptography</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">webscraping - beautifulsoup</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">requests</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">image processing</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">data science</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">machine learning</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">computer vision</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">deep learning</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">py2 and py3 differences</h1>
<h3>1:</h3>
</div><!--std_part-->

<div></div>
<div class="std_part">
<h1 class="std_title">web dev</h1>
<h3>1:</h3>
</div><!--std_part-->


            <h1>references</h1>
            <p>adapted core from <a href="https://pythoninstitute.org/pcap-exam-syllabus/">pythoninstitute</a></p>
        </article>
{% endblock %}
        