/***
tests in progress
***/
body {
    user-select: none;
    font-family: 'Titillium Web', sans-serif;
    -webkit-tap-highlight-color: transparent;

}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a:visited {
    color: green;
}

table {
    width: 90%;
    margin: 20px;
    border-collapse: collapse;
}

td,
th {
    padding-top: 10px;
}

tr {
    border-bottom: 5px solid orange;
}

footer {
    background-color: #666;
    color: white;
    padding: 10px;
    margin-top: 100px;
    text-align: center;
}

nav {
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul .nav_title {
    font-weight: bold;
}

/* Expands to fill the space */
.flex_spacer { 
    margin-left: auto;
    margin-right: auto;
}

.nav_name {
    color: white;
    font-size: 12px;
}

.menu_card {
    width: 200px;
    height: 235px;
    margin: 30px;
}

.title .title_main {
    padding: 10px;
}


.title .title_sub {
    padding: 20px;
}
.title a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: black;
}

.menu_icon {
    width: 200px;
    height: 200px;
    /*#2b5b84 #dca900*/
    background-color: #2b5b84;
    line-height: 210px;
    color: #fff;
    border-radius: 50%;
    user-select: none;
}

.menu_icon>i {
    font-size: 40px;
}

.menu_text {
    width: 200px;
    height: 35px;
    line-height: 35px;
    background-color: #dca900;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 5px;
}

.cell {
    width: 100px;
    overflow-x: scroll;
}

.page_info {
    width: 300px;
    margin: 10px;
    background-color: #2b5b84;
    color: #fff;
    height: 30px;
    line-height: 30px;
}

.standard {
    max-width: 300px;
}

.std_title {
    border: 5px solid orange;
}



.std_part {
    /*float: left;*/
}

.button {
    text-decoration: none;
    padding: 5px;
    border-bottom: 3px solid orange;
    color: white;
    margin: 5px;
    margin-bottom: 1px;
    padding-bottom: 0px;
}

.skill_name {
    min-width: 100px;
    max-width: 300px;
    margin: 10px;
    border-bottom: 3px solid #ec407a;
    text-transform: uppercase;
}

.skills_card {
    border: 1px solid gray;
    margin: 5px;
    border-radius: 3px;

}

.hlink{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    padding: 3px;
    margin: 5px;
    border: 5px solid orange;
    background-color: white;
}

main{
    padding-left:10%;
    padding-right:10%;
}