body{
    user-select: none;
}
.menu_card{
    width: 200px; height: 235px;
    margin:30px;

}

.title > div{
    padding: 10px;
}

.menu_icon{
    width: 200px; height: 200px;
    /*#2b5b84 #dca900*/
    background-color: #2b5b84;
    line-height: 210px;
    color: #fff;
    border-radius: 50%;
    user-select: none;
}
.menu_icon > i{
    font-size: 40px;
}
.menu_text{
    width: 200px; height: 35px;
    line-height: 35px;
    background-color: #dca900;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    margin-bottom: 5px;
}

