<div id="sidebar-id" class="off-canvas-sidebar">
  <!-- off-screen sidebar -->
  <ul class="nav">
    <li>
      <a href="{{path}}resources">Resources</a>
    </li>

    <li class="nav-item">
      <a href="{{path}}blog">Blog</a>
    </li>
    <li class="nav-item">
      <a href="{{path}}members">Members</a>
    </li>
    <li class="nav-item">
      <a href="{{path}}faq">FAQs</a>
    </li>
    <!--
    <li class="nav-item active">
      <a href="#">Layout</a>
      <ul class="nav">
        <li class="nav-item">
          <a href="#">Flexbox grid</a>
        </li>
        <li class="nav-item">
          <a href="#">Responsive</a>
        </li>
        <li class="nav-item">
          <a href="#">Navbar</a>
        </li>
        <li class="nav-item">
          <a href="#">Empty states</a>
        </li>
      </ul>
    </li>
    -->
  </ul>
</div>
