<!DOCTYPE html>
<html lang="en" class="light">
  <head>
    {% include 'sections/head.html' %}
    {% block head %}{% endblock %}
  </head>
  <body class="bg-background text-on-surface font-body-md min-h-screen flex flex-col selection:bg-secondary-container selection:text-on-secondary-container">
    {% include 'sections/topnav.html' %}
    <main class="flex-1 pt-16 pb-24 md:pb-0">
      {% block body %}{% endblock %}
    </main>
    {% include 'sections/footer.html' %}
    {% include 'sections/bottom_nav.html' %}
  </body>
</html>
