<head>
    <title>PYMUG - Python Mauritius UserGroup</title>
    <!--cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>

    <!--local libs-->
    <link rel="stylesheet" type="text/css" href="css/prototyp.css">
    <link rel="stylesheet" type="text/css" href="css/global.css">

    <!--descriptions / meta-->
    <meta charset="utf-8">
    <meta name="description" content="Mauritius Usergroup of the Python programming language. The mauritian ug aims at promoting python and coding literacy beyond syntax, upgrade skills as well as sniffing job opportunities for members">
    <meta name="keywords" content="python,mauritius,coding,usergroup,learn,programming">
    <meta name="author" content="appinv">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000"/>

    <!--icon-->
    <link rel="shortcut icon" href="assets/pymug_new.png">
</head>