{% extends 'base.html' %}
{% set section = 'why' %}
{% block head %}
<title>Python Mauritius Usergroup</title>
<link async href='https://fonts.googleapis.com\css?family=Noto+Color+Emoji' rel='stylesheet' type='text/css'>
<link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css" integrity="sha512-+oRH6u1nDGSm3hH8poU85YFIVTdSnS2f+texdPGrURaJh8hzmhMiZrQth6l56P4ZQmxeZzd2DqVEMqQoJ8J89A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style type="">
	.emoji-font{
		font-family: 'Noto Color Emoji';
		font-display: swap;
	}
</style> 
{% endblock %}
{% block body %}
<div id="why">
    <h2 class="text-center">About</h2>
    <p>
        <span class="first-letter">T</span>he Python Mauritius User Group (pymug) is the local Python user group of Mauritius. Our aim is to provide opportunities to everybody to upskill their level of Python and to ease industry-adoption of Python-related technologies. Read a <a href="https://www.mscc.mu/python-mauritius-usergroup-pymug/">nice overview</a> of the User Group on the MSCC blog. To sum it up, we care about Python education.
    </p>
    <p>
        The Pymug organises year-round events, topic days, meetups, from scratch sessions as well as university topic coverage. Have a look at our <a href="https://www.pymug.com/static/reports/pymug_2019_report.pdf">2019</a> or <a href="https://www.pymug.com/static/reports/pymug_end_of_year_2020_v2.pdf">2020</a> end of year reports. Looking forward to meet you <span class="emoji-font">🪼</span>.
    </p>
    <p>
    	Any Python question, you are welcome to post it on our <a href="https://mail.python.org/mailman3/lists/pymug.python.org/">mailing list</a>. You can read some <a href="https://www.pythonkitchen.com/legally-free-python-books-list/">free books</a> in the meanwhile!
    </p>
    <p>
    	<a aria-label="github-logo-link" href="https://github.com/pymug">
    		<button aria-label="github-button-link" class="btn btn-action s-circle"><i class="fab fa-github"></i></button></a>
    	<a aria-label="twitter-logo-link" href="https://twitter.com/pymugdotcom">
    		<button aria-label="twitter-button-link" class="btn btn-action s-circle"><i class="fab fa-twitter"></i></button></a>
    	<a aria-label="linkedin-logo-link" href="https://www.linkedin.com/company/pymug/">
    		<button aria-label="linkedin-button-link" class="btn btn-action s-circle"><i class="fab fa-linkedin"></i></button></a>
    	<a aria-label="mettup.com-logo-link" href="https://www.meetup.com/pymauritius/">
    		<button aria-label="meetup.com-button-link" class="btn btn-action s-circle"><i class="fab fa-meetup"></i></button></a>
    	<a aria-label="facebook-logo-link" href="https://www.facebook.com/pymug/">
    		<button aria-label="facebook-button-link" class="btn btn-action s-circle"><i class="fab fa-facebook-f"></i></button></a>
    </p>
    <h2 class="">Latest event</h2>
    <p>
        {%set latest_event = list(settings.events.keys())[0]%}
        <a href="{{path}}event/{{latest_event}}">{{settings.events[latest_event]["title"]}}</a>
    </p>
    <h2>Challenges</h2>

    <ul class="tab tab-block">
      <li class="tab-item active">
        <a href="#">2025</a>
      </li>
    </ul>
    <!-- Tab Content -->
<div class="tab-content">
  <!-- Content for Tab 1 (active) -->
  <div class="tab-pane active" id="tab-2025">

    <table class="table">
      <thead>
        <tr>
          <th>Time</th>
          <th>Challenges</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active">
          <td>January</td>
          <td>Build a JSON parser 
                <a href="https://codingchallenges.fyi/challenges/challenge-json-parser">link</a>
          </td>
        </tr>
        <tr>
          <td>February</td>
          <td>Merge two sorted list
                <a href="https://leetcode.com/problems/merge-two-sorted-lists/description/?envType=problem-list-v2&envId=linked-list">link</a>
          </td>
        </tr>
        <tr>
          <td>March</td>
          <td>Build your own load balancer
                <a href="https://codingchallenges.fyi/challenges/challenge-load-balancer">link</a>
          </td>
        </tr>
        <tr>
          <td>April</td>
          <td>Online Judge 572: Oil Deposits (Hint: Floodfill)
                <a href="https://onlinejudge.org/external/5/572.pdf">link</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div><br><br>
    <h2 class="">Partner Contents</h2>
    <p>
        <div class=""> 
            <a href="https://www.oreilly.com/pub/cpc/313497">
                <img async alt="oreilly affiliate content" src="https://www.oreilly.com/partner_file/ba-affiliates-python-120x240.jpg" style="width:120px; height: 240px;" />
            </a>
        </div>
    </p>
</div>
{% endblock %}