{% extends 'base.html' %}
{% set section = 'members' %}

{% block head %}
  <title>Members</title>
{% endblock %}

{% block body %}
<style>
    .table-dots .docs-dot {
        border-radius: 50%;
        display: inline-block;
        height: .5rem;
        padding: 0;
        width: .5rem;
    }
</style>

<div id="members" class="column col-12">
    <h2 class="text-center titles">Members</h2>
    <div class="column col-12 col-mx-auto">
        <table class="table table-dots table-striped text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Admin</th>
                    <th>Speaker</th>
                    <th>Honorary</th>
                </tr>
            </thead>
            <tbody>
                {% for github_username in info['profiles'] %}
                    {% set data = info['profiles'][github_username] %}
                    <tr>
                        <!--NAME TD-->
                        <td class="text-left">
                            <a href="/u/{{ github_username }}">{{ data['meta']['name'] }}</a>

                            
                        </td>

                        <!--ADMIN TD-->
                        <td>
                           {% if data['meta']['organiser'] == 'y' %}
                            <span title="Organiser"><i style="color: #5cd150; font-size: 16px;" class="fa fa-shield-alt"></i></span>
                            {% endif %}
                        </td>
                        
                        <!--SPEAKER TD-->
                        <td>
                            {% if user_sessions(info['events'], github_username)[1] %}
                                <span title="Speaker"><i style="color: #5cd150; font-size: 16px;" class="fa fa-comment"></i></span>
                            {%endif%}
                        </td>
                        
                        <!--HONORARY TD-->
                        <td>
                            {% if data['meta']['honorary'] == 'y' %}
                            <span title="Honorary member"><i style="color: #5cd150; font-size: 16px;" class="fa fa-award"></i></span>
                            {% endif %}

                        </td>

                        <td>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
